<!DOCTYPE html>

<html>
    <head>
        {{>head}}
        <title>404</title>

    </head>

    <body>
        {{>navbar1}}
        <div class="main-content">
        <h1>404</h1>
        <p>{{errorMessage}}</p>

        </div>

        {{>footer}}
    </body>
</html>