<!DOCTYPE html>

<html>
    <head>
        {{>head}}
        <title>About</title>
    </head>

    <body>
        <div class="main-content">
            {{>navbar1}}
            <p class="text-center paraBackground">This website is created by Kartik Patidar.</p>
            <p class="text-center paraBackground">It uses data from mapbox.com and darksky.net</p>
            <div>
                <img class="img-fluid rounded mx-auto d-block portrat" src='/img/robot.png'>
            </div>
        </div>

        {{>footer}}
    </body>
</html>