<!DOCTYPE html>

<html>
    <head>
        {{>head}}
        <title>Help</title>
    </head>

    <body>
        <div class="main-content">
        {{>navbar1}}

        <p class="paraBackground text-center">{{helpText}}</p>
        <p><b>Contact via:</b></p>
        <div class="container"
        <p> <a href="https://github.com/kartikPatidar"><i class="fa fa-github" style="font-size:100px"></i></a></p>
        <p><a href="https://www.linkedin.com/in/kartikpatidar/"><i class="fa fa-linkedin-square" style="font-size:100px"></i> </a> </p>
        <p><a href="https://www.kartikpatidar815@gmail.com"><i class="fa fa-envelope" style="font-size:100px"></i> </a> </p>
        </div>

        </div>

        {{>footer}}
    </body>
</html>