<!DOCTYPE html>

<html>
    
    <head>
        {{>head}}
        <title>Weather Home</title>
    </head>

    <body>
        <div class="main-content">
            {{>navbar1}}
            
        <div class="text-center">
            <p class="paraBackground"> Get the latest weather update!</p>
            <form id="mySearchForm">
                <input placeholder="location">
                <button>Search</button>
            </form>
            <div>
                <p id="message-1"></p>
                <p id="message-2"></p>
            </div>
        </div>
            

        </div>

        {{>footer}}
        <script src="/js/app.js"></script>
    </body>

</html>