body {
    color: #333333;
    font-family: Arial;
    max-width: 650px;
    margin: 0px auto;
    padding: 0px 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

.paraBackground {
    background-color:rgba(0, 0, 0, 0.1);
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrat {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

nav {
    margin-top: 40px;
    padding: 24px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background: #3fa46a;
}
  
nav a {
    transition: 0.5s ease;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    padding: 20px 0;
    margin: 0 5px;
    font-size: 17px;
}

nav a:hover {
    transition: width 1s ease, background-color 1s ease;
    border-bottom: 4px solid #c4fa30;
    font-size: 18px;
}

#mySearchForm {
    padding-top: 30px;
}